---
import bezierEasing from "bezier-easing";
import { getCollection } from "astro:content";

import * as description from "@/description.md";

import BtrixCollection from "../components/BtrixCollection.astro";
import Layout from "../layouts/Layout.astro";

import WebrecorderLogo from "@webrecorder/hickory/icons/brand/webrecorder-icon-color.svg";
import WebrecorderLockup from "@webrecorder/hickory/icons/brand/webrecorder-lockup-color.svg";
import BrowsertrixLockup from "@webrecorder/hickory/icons/brand/browsertrix-lockup-color.svg";
import AWPLockup from "@webrecorder/hickory/icons/brand/archivewebpage-lockup-color.svg";
import { Icon } from "astro-icon/components";

let collections = await getCollection("collections");

const ease = bezierEasing(0.4, 0, 1, 1);
const easeMap = (index: number, min: number, max: number) =>
  min + ease(index / max) * (max - min);
---

<Layout>
  <div
    class="mt-8 grid gap-8 px-6 pb-16 sm:px-8 md:mt-16 md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] md:px-16"
  >
    <header class="[&_a]:link contents">
      <h1
        class="card py-2 text-lg font-medium text-pretty has-[a[href]:hover]:ring-stone-100 contrast-more:has-[a[href]:hover]:ring-black md:max-lg:col-span-2 lg:col-start-1 lg:-col-end-2 lg:text-xl 2xl:-col-end-3 dark:has-[a[href]:hover]:ring-stone-700 contrast-more:dark:text-white contrast-more:dark:has-[a[href]:hover]:ring-white"
      >
        Selected archives from the <a
          href="https://app.browsertrix.com/explore/usgov-archive"
          ><span class="inline-block">
            <WebrecorderLogo
              class="me-1 inline h-[1cap] overflow-visible align-baseline"
              width={null}
              height={null}
              aria-label="Webrecorder logo"
            />Webrecorder</span
          > US Government Web Archive</a
        >
      </h1>
      <div
        class="blur-in card contrast-more:black:text-white py-3 text-sm leading-6 text-pretty text-stone-500 [--delay:50ms] has-[a[href]:hover]:ring-stone-100 contrast-more:text-black contrast-more:has-[a[href]:hover]:ring-black lg:col-start-1 lg:-col-end-2 lg:row-start-2 2xl:-col-end-3 dark:has-[a[href]:hover]:ring-stone-700 contrast-more:dark:text-white contrast-more:dark:has-[a[href]:hover]:ring-white [&_p]:max-w-screen-md [&_p]:not-first-of-type:mt-2"
      >
        <description.Content />
        <p>
          Crawled and organized with <a
            href="https://webrecorder.net/browsertrix/"
            class="align-[-3px]"
          >
            <BrowsertrixLockup
              class="inline h-[1.8cap] overflow-visible align-[-0.07em]"
              width={null}
              height={null}
              aria-label="Browsertrix"
            />
          </a> and <a
            href="https://webrecorder.net/browsertrix/"
            class="align-[-3px]"
          >
            <AWPLockup
              class="inline h-[1.8cap] overflow-visible align-[-0.07em]"
              width={null}
              height={null}
              aria-label="Archive Webpage"
            /></a
          >.
        </p>
      </div>
    </header>
    <div
      class="order-9999 -col-start-2 -col-end-1 flex flex-col gap-6 text-sm md:order-0 lg:row-span-2 2xl:-col-start-3"
    >
      <a
        href="https://webrecorder.net"
        class="card blur-in card-link flex flex-1 flex-col justify-end gap-2 [--delay:100ms]"
      >
        A project by
        <WebrecorderLockup
          width={null}
          height={null}
          class="block w-full max-w-64 text-black dark:text-stone-50"
        />
      </a>
      <div class="grid gap-6 text-xs sm:max-md:grid-cols-2 2xl:grid-cols-2">
        <a
          href="https://webrecorder.net/browsertrix/"
          class="card-sm blur-in card-link flex flex-wrap items-start gap-1.5 pt-3.5 pb-3 [--delay:200ms]"
          ><BrowsertrixLockup
            class=""
            width={null}
            height={null}
            aria-label="Browsertrix"
            class="max-h-5 text-black"
          />
          <Icon
            class="-mt-1.5 -mr-2 ml-auto inline size-4"
            name="bi:arrow-up-right-circle"
            aria-label="Learn More"
          />
          Automated browser-based crawling at scale
        </a>
        <a
          href="https://webrecorder.net/archivewebpage/"
          class="card-sm blur-in card-link flex flex-wrap items-start gap-1.5 pt-3.5 pb-3 [--delay:300ms]"
          ><AWPLockup
            class=""
            width={null}
            height={null}
            aria-label="Archive Webpage"
            class="max-h-5 text-black"
          />
          <Icon
            class="-mt-1.5 -mr-2 ml-auto inline size-4"
            name="bi:arrow-up-right-circle"
            aria-label="Learn More"
          />
          Record complex interactions as you browse the web
        </a>
      </div>
    </div>
    {
      collections.map((collection, index) => (
        <BtrixCollection
          {...collection.data}
          index={easeMap(index, 1, collections.length)}
        />
      ))
    }
  </div>
</Layout>
