---
import BtrixCollection from "../components/BtrixCollection.astro";
import Layout from "../layouts/Layout.astro";

import WebrecorderLogo from "@webrecorder/hickory/icons/webrecorder-icon-color.svg";
import BrowsertrixLogo from "@webrecorder/hickory/icons/browsertrix-icon-color.svg";
import AWPLogo from "@webrecorder/hickory/icons/archivewebpage-icon-color.svg";

import { getCollection } from "astro:content";
const collections = await getCollection("collections");
---

<Layout>
  <header
    class="mx-2 my-8 inline-flex flex-col items-start gap-2 rounded-2xl bg-stone-50 p-4 pb-2.5 md:mx-12"
  >
    <h1 class="font-display-wider text-3xl font-bold uppercase">
      US Web Archives
    </h1>
    <p class="text-sm leading-6 text-pretty text-stone-500">
      Selected archives from the <a
        class="border-b border-b-stone-200 font-semibold text-black"
        href="https://app.browsertrix.com/explore/usgov-archive"
        ><span class="inline-block">
          <WebrecorderLogo
            class="inline h-[1cap] overflow-visible align-baseline"
            width={undefined}
            height={undefined}
            aria-label="Webrecorder logo"
          /> Webrecorder</span
        > US Government Web Archive</a
      >.
      <br />
      Crawled with <a
        class="border-b border-b-stone-200 font-semibold text-black"
        href="https://webrecorder.net/browsertrix/"
        ><span class="inline-block">
          <BrowsertrixLogo
            class="inline h-[1.1cap] overflow-visible align-baseline"
            width={undefined}
            height={undefined}
            aria-label="Browsertrix logo"
          />&nbsp;Browsertrix
        </span></a
      > and <a
        class="border-b border-b-stone-200 font-semibold text-black"
        href="https://webrecorder.net/browsertrix/"
        ><span class="inline-block">
          <AWPLogo
            class="inline h-[1.1cap] overflow-visible align-baseline"
            width={undefined}
            height={undefined}
            aria-label="Archive Webpage logo"
          />&nbsp;Archive Webpage</span
        ></a
      >.
      <br />In collaboration with the <a
        class="border-b border-b-stone-200 font-semibold text-black"
        href="https://eotarchive.org/">End of Term Web Archive</a
      >.
    </p>
  </header>
  <main class="p-4 md:px-16">
    <div
      class="mt-8 grid grid-cols-[repeat(auto-fill,minmax(min(320px,100%),1fr))]"
    >
      {
        collections.map((collection) => (
          <BtrixCollection {...collection.data} />
        ))
      }
    </div>
  </main>
</Layout>
