---
type Props = {
  endpoint?: string;
  org: string;
  collection: string;
  customUrl?: string | undefined;
};

// partial btrix collection
type Collection = {
  name: string;
  slug: string;
  caption: string;
  thumbnail: {
    name: string;
    path: string;
    hash: string;
    size: 0;
    mime: string;
  };
};

const {
  endpoint = "https://app.browsertrix.com/",
  org,
  collection,
  customUrl,
} = Astro.props;

// fetch collection
const res = await fetch(
  `${endpoint}api/public/orgs/${org}/collections/${collection}`,
);
const coll = (await res.json()) as Collection;

const href = customUrl ?? `${endpoint}explore/${org}/collections/${collection}`;
const src = {
  src: coll.thumbnail.path,
  width: 640,
  height: 360,
  format: "jpeg",
};
const name = coll.name;
const caption = coll.caption;
---

<a href={href} target="_blank" class="group">
  <div
    class="bg-slate-50 relative mb-4 rounded-lg shadow-lg shadow-cyan-700/10 ring-1 ring-stone-900/20 transition group-hover:-translate-y-0.5 group-hover:shadow-cyan-800/50 group-hover:ring-stone-800/20"
  >
    <img
      class="aspect-video w-full rounded-lg object-cover"
      src={src.src}
      alt=""
    />
  </div>
  <h3
    class="text-base font-semibold leading-tight text-stone-600 transition-colors group-hover:text-stone-700"
  >
    {name}
  </h3>
  <p
    class="mt-1.5 text-pretty leading-relaxed text-stone-400 transition-colors group-hover:text-stone-600"
  >
    <slot>
      {caption}
    </slot>
  </p>
</a>
